body{
    background-color: darkgrey;
}


h1{
    font-family: 'DynaPuff', cursive;
    font-size: 30px;
}

a{

display: flex;
text-decoration: none;
align-items: center;
}

h2{
font-size: 45px;
color: blue;
font-family: 'Roboto', sans-serif;

}

h6{
    display: flex;
    flex-direction: column;
    align-items: center;
}

